body {background-color:#000000;color:#FFFFFF;margin:0px;padding:0px;font-size:14px;font-family:Arial;text-shadow: 1px 1px 0px #000000,  -1px 1px 1px #000000,  -1px -1px 1px #000000,  1px -1px 1px #000000, -1px -1px 1px #CCCCCC, 0px 2px 2px #FF0000, 2px 2px 2px #444444;}
a, .like_a {color:#6699FF;}
a:visited {color:#6666FF;}
a:hover, a:hover:visited {color:#FFFFFF;}

.video_title {font-weight:bold;}
.video_description {}


.headrr {position:relative;top:0px;left:0px;width:100%;height:80px;border-collapse:collapse;}
/*.logor {position:absolute;top:0px;left:0px;z-index:1000;}
.logor_td {text-align:left;width:300px;}*/
.right_td {}
.headrr_sub {width:100%;}
.nav1 {text-align:right;padding-right:20px;font-size:20px;font-weight:normal;font-family:Arial;}
.nav1 a {text-decoration:none;}
.nav2 {text-align:right;padding-right:20px;font-size:14px;}

@media only screen and (max-width: 500px) {
	.nav1 {font-size:1.2em;}
	.nav2 {font-size:0.8em;}
}

/*why do that??
h1, h2, h3, h4, h5, h6, p, a {position:relative;z-index:1001;}
*/

.negaten {width:0;height:0;border:none;}


.playtable {position:absolute;top:120px;left:0;width:100%;}
.guakamon {border-collapse:collapse;position:absolute;top:0px;left:0;width:728px;height:325px;background-image:url('/gif.gif');background-repeat:repeat;}
.guakamon_td {text-align:center;vertical-align:top;}
.rabbass {width:308px;top:10px;position:relative;background-color:#CCCCCC;margin-left:auto;margin-right:auto;}
.robonomo {color:#000000;background-color:#FFFFFF;padding-left:4px;padding-right:4px;}
.playtable acronym {border:none;}

.playor {position:relative;width:728px;z-index:2;}

.xplain {width:300px;font-style:italic;color:#CCCCCC;font-size:12px;}

.vidform {font-size:14px;}
.tittx, .popupx {max-width:320px;width:100%;}
.descrtx {max-width:320px;width:100%;height:90px;}
.channelgrx {max-width:320px;width:100%;}
.labezl {text-align:left;vertical-align:top;}
.uploadthing {max-width:240px;width:100%;}

.poppy_button {border:#AAAAAA solid 1px;border-radius:14px;font-weight:bold;box-shadow: 1px 1px 4px #FFFFFF inset;padding-left:4px;padding-right:4px;}
.poppy_info {width:300px;border:#AAAAAA solid 1px;z-index:1002;box-shadow: 1px 1px 4px #FFFFFF inset;background-color:#000000;border-radius:14px;padding:8px;}

.bottomio {text-align:center;}

.adta {border-collapse:collapse;}
.adtabad {vertical-align:top;width:300px;}
.adtabcn {vertical-align:top;width:128px;text-align:center;}

.error, .uprogress {width:500px;background-color:#444444;border:dotted #FFFFFF 3px;padding:4px;}
.upstat {text-align:left;}
.upstatlabel {width:140px;}
.uplogs {background-color:#444444;border:dotted #FFFFFF 3px;padding:4px;}
.suspended, .deleted {font-weight:bold;font-size:20px;}
.reason {font-size:12px;}
.show_reason {width:300px;background-color:#000000;border:solid #FFFFFF 1px;font-size:12px;padding:4px;}




.chunk_link {text-decoration:none;}
.chunk_img {border:none;}
.chunk_time {font-size:12px;}
.popholder {
background-color: white;
opacity: 0;
-moz-opacity: 0;
filter: alpha(opacity = 0);
}

.fluidtable {width:100%;max-width:600px;margin:auto;}
.fluidbigpic {width:50%;}
.fluid_bigpic {width:100%;max-width:350px;height:auto;}


/*===============new css 2021===============*/

/*new nav stuff.. it needs to be more like comploto*/
.mobinav_toggle {display:none;}

ul#nav {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 100;
}
ul#nav li {
    display: inline;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 13px;
}
ul#nav li ul {
    display: none;
    position: absolute;
    top: 1em;
    left: 0;
    padding: 0;
    padding-top:4px;
    margin: 0;
    width: 120px;
}
ul#nav li ul li {
    display: block;
    list-style: none;
    text-align: left;
    padding: 4px;
}
ul#nav li > ul#nav {
    top: auto;
    left: auto;
}
ul#nav li:hover ul, ul#nav li.over ul{ display: block; }
a.selected_lang {
    background-color:#6666FF;
    color:#000000;
    padding-right:4px;
    padding-left:4px;
    text-shadow: 1px 1px 5px #FFFFFF, -1px 1px 5px #FFFFFF, -1px -1px 5px #FFFFFF, 1px -1px 5px #FFFFFF;
    border-radius: 4px;
    box-shadow: 1px 1px 0px #000000, -1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px -1px 1px #CCCCCC, 0px 2px 2px #FF0000, 2px 2px 2px #444444;
}
.lang_separ {color: grey;}

.logo_container {
}
.logo_container img {
    max-width: 25%;
}


/*I am tired of putting those manually*/
a[onclick] {cursor:pointer;}

/*user forms*/

.message {border:none;width: 90%;text-align: center;margin:auto;margin-bottom:20px;margin-top:50px;box-shadow: 1px 1px 5px #FFF, -1px 1px 5px #FFF, -1px -1px 5px #FFF, 1px -1px 5px #FFF;padding: 4px;}
.message.success {background-color: mediumseagreen;}
.message.error {background-color: orangered;}
.message.error a, .message.error .like_a {color: #e0d8ff;}
.message.notice {background-color: #ffe300;}
.user_form {margin:auto;max-width: 90%;width: 500px;}
.user_form h1 {text-align: center;}
.user_form_input {margin-top:10px}
.user_form_input label {display:inline-block;width:38%;}
.user_form_input input {display:inline-block;width:58%;}
.user_form_submit {text-align: center;margin-top:20px;}
.user_form_submit input {height:40px;}
.user_form_link {text-align: center;margin-top:20px;}

.page_title {
    font-size:24px;
    text-align: center;
    margin:20px;
    margin-top:50px;
}

input[type=submit] {
    background-color: #6699FF;
    border: none;
    box-shadow: 1px 1px 0px #000000,  -1px 1px 1px #000000,  -1px -1px 1px #000000,  1px -1px 1px #000000, -1px -1px 1px #CCCCCC, 0px 2px 2px #FF0000, 2px 2px 2px #444444;
    text-shadow: 1px 1px 0px #000000,  -1px 1px 1px #000000,  -1px -1px 1px #000000,  1px -1px 1px #000000, -1px -1px 1px #CCCCCC, 0px 2px 2px #FF0000, 2px 2px 2px #444444;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
}


/*video thumbs*/
.video_thumbs_container {
    text-align: center;
}


.video_thumbs_container_inner {
    text-align: left;
    display:inline-block;
    width:1200px;
}
.video_thumb {
    width: 300px;
    display:inline-block;
    vertical-align: top;
    padding: 0;
}
.video_thumb_inner {
    padding: 8px;
}
.video_thumb_inner_inner {
    border: 1px #222 solid;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
}

@media only screen and (max-width: 1199px) {
    .video_thumbs_container_inner {
        width: 1050px;
    }
    .video_thumb {
        width: 350px;
    }
}
@media only screen and (max-width: 1049px) {
    .video_thumbs_container_inner {
        width: 900px;
    }
    .video_thumb {
        width: 300px;
    }
}
@media only screen and (max-width: 899px) {
    .video_thumbs_container_inner {
        width: 750px;
    }
    .video_thumb {
        width: 375px;
    }
}
@media only screen and (max-width: 749px) {
    .video_thumbs_container_inner {
        width: 600px;
    }
    .video_thumb {
        width: 300px;
    }
}
@media only screen and (max-width: 599px) {
    .video_thumbs_container_inner {
        width: 390px;
    }
    .video_thumb {
        width: 390px;
    }
}
@media only screen and (max-width: 449px) {
    .video_thumbs_container_inner {
        width: 300px;
    }
    .video_thumb {
        width: 300px;
    }
}


.video_thumb_container {
    position: relative;
    padding: 0;
    
}

.video_thumb_img {
    /*width:128px;*/
    max-width:100%;
}

.video_suspend_container, .video_error_container {
    color:red;
}

.video_title_container {
    font-size:14px;
    padding: 10px;
}

.video_poster_container {
    padding: 10px;
    font-size:12px;
}

.video_poster_channel {
    padding-bottom: 10px;
}

.video, .video_edit {
    max-width:960px;
    margin:auto;
}
.video .title {
    text-align: left;
    padding: 0 4px;
}
.video .title h1 {
    margin: 0;
}
.video .stats_and_actions {
    text-align: left;
    position: relative;
}
.video .stats_and_actions .stats {
    display: inline-block;
    left:0;
    padding: 0 4px;
}
.video .stats_and_actions .actions {
    display: inline-block;
    right:0;
    text-align: right;
    position: absolute;
    padding: 0 4px;
}
.video .user_and_subscribe {
    text-align: left;
    position: relative;
    margin-top:20px;
}
.video .user_and_subscribe .user {
    display: inline-block;
    left:0;
    padding: 0 4px;
}
.video .user_and_subscribe .subscribe {
    display: inline-block;
    right:0;
    text-align: right;
    position: absolute;
    padding: 0 4px;
}
.video .description {
    padding: 0 4px;
    text-align: left;
    margin-top:20px;
}
.video .description p {
    margin:0;
}

.channels_container {
    max-width:400px;
    text-align: center;
    margin:auto;
}
.channels_container .channel {
    font-size:20px;
    text-align: left;
}
.channels_container .channel .channel_actions {
    font-size:12px;
}

.back_page{
    text-align: left;
    padding: 0 20px;
}
.actions{
    text-align: right;
    padding: 0 20px;
}
.pagination {
    margin-top:24px;
}

.channel_next {
    text-align: center;
}

@media only screen and (max-width: 800px) {
	ul#nav li {
		font-size: 24px;
	}
	.header_container {
        padding:0;width:auto;
        display:inline-block;
        height: 140px;
    }
	ul#nav li {
        display: block;
        text-align: left;
        margin: 10px;

    }
    .mobinav_toggle {
        font-size: 24px;
        cursor:pointer;
        display:block;
        padding: 10px;
        height: 21px;
        display:inline-block;
        vertical-align: top;
    }
    #nav {
        display: none;
        position:absolute !important;
        width: 100%;
        background-color: #000000;
    }
    #nav.mobile_nav_show {
        display: block;
    }
    ul#nav li:hover ul, ul#nav li.over ul{ display: none; }
    ul#nav li ul {
        width:400px !important;
        z-index:1001;
    }

    .logo_container {
        display:inline-block;
        max-width: 50%;
        position: absolute;
        right: 0;
        max-width: 240px;
    }
    .logo_container img {
        max-width: 240px;
    }

    .video_thumb {
        max-width: none;
    }
}